#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	font-family: 'Overpass Mono', monospace;
}

#wrapper h2 {
	font-size: 16px;
	color: #990000;
}

#wrapper p {
	font-size: 12px;
}

#charsheet ul {
	list-style-position: outside;
	padding-left: 1em;

}

#charsheet li {
	font-size: 12px;
}

#header {

}

#leftcol {
	width: 150px;
	float: left;
	margin-left: 25px;
	margin-right: 50px;
	padding: 1em;
	background-color: #eee;
}

#rightcol {
	width: 700px;
	float: right;
	padding: 1em;
}

#charsheet {

}

#stimuli {

}

#commands {

}

#topcolwrap {
	margin-bottom: 25px;
}
 
#plr_log {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	margin-top: 25px;
	margin-bottom: 1em;
	font-size: 12px;
}

#plr_log p {
	margin-bottom: 8px;
}

#footer {
	margin-top: 1em;
	font-size: 10px;
	clear: both;
}