#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	font-family: 'Overpass Mono', monospace;
	font-size: 12px;
}

#wrapper h2 {
	font-size: 1.7em;
	color: #990000;
}

#wrapper p {
}

#charsheet ul {
	list-style-position: outside;
	list-style-type: none;
	padding-left: 1em;

}

#charsheet .stat {
	color: #9D9DFF;
}

#charsheet li {
}

#header {
	margin-left: auto;
	margin-right: auto;
}

#header h1 {
	text-align: center;
}

#header button {
	width: 100px;
	border: none;
	background-color: #9D9DFF;
	color: #FFF;
	font-family: 'Overpass Mono', monospace;
	font-size: 0.8em;
}

#header button:hover {
	background-color: #7575FD;
}

#leftcol {
	width: 100px;
	float: left;
	margin-left: 25px;
	margin-right: 25px;
	padding: 1em;
}

#rightcol {
	width: 750px;
	float: right;
	padding: 2em;
	background-color: rgb(202,202,255);
}

#charsheet {

}

#stimuli {
}

#stimuli li {
	list-style: none;
}

#stimuli input {
}

#stimuli input {
	border: none;
	background-color: #9D9DFF;
	color: #FFF;
}

#stimuli input:hover {
	background-color: #7575FD;
}

#stimuli h3 {
	font-size: 0.8em;
	color: #9D9DFF;
}

.equips ul {
	display: inline-block;
	float: left;
	width: 20%;
}

#commands {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

#commands button {
	border: none;
	background-color: #9D9DFF;
	color: #FFF;
	font-family: 'Overpass Mono', monospace;
}

#commands button:hover {
	background-color: #7575FD;
}

#topcolwrap {
	margin-bottom: 25px;
}
 
#plr_log {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	margin-top: 150px;
	margin-bottom: 1em;
	font-size: 10px;
}

#plr_log p {
	margin-bottom: 8px;
}

#plr_log .dmg {
	color: #CC0000;
}

#plr_log .pdmg {
	color: #ACACAC;
}

#footer {
	margin-top: 1em;
	font-size: 10px;
	clear: both;
}

#editor {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 2000;
	height: 1200;
	background-color: #222C;
	z-index: 99;
}

#editor .e_window {
	width: 1024px;
}

#editor .e_main {
	float: left;
	width: 724px;
}

#editor .e_properties {
	float: right;
	width: 300px;
}

#editor .e_map {
	margin-top: 10;
	margin-left: 10;
	height: 600;
	width: 600;
	z-index: 100;
}

#editor .e_tool {
	margin-top: 10;
	height: 600;
	width: 32;
	z-index: 100;
}

#editor .e_tool button {
	height: 32;
	width: 32;
	margin-bottom: 8px;
}

#overlay {
	position: fixed;
	display: none;
	opacity: 0;
	background-color: #000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 150px;
}

#psychicvoyage {
	position: absolute;
	display: block;
	background-color: #000;
	left: 0px;
	top: 0px;
	width: 1024px;
	height: 768px;
	z-index: 200;
}

#psychicvoyage #minimap {
	box-sizing: border-box;

	position: absolute;
	width: 160px;
	height: 160px;
	left: 432px;
	top: 33px;

	background: #BCFFB1;
	border: 5px solid #62A258;
	filter: blur(2.5px);
	z-index: 220;
}

#psychicvoyage #minimap #minimapCanvas {
	width: 150px;
	height: 150px;
}

#psychicvoyage #stimuluswindow {
	box-sizing: border-box;

	position: absolute;
	width: 952px;
	height: 140px;
	left: 36px;
	top: 579px;

	background: #444444;
	border: 22px solid #222222;
	filter: blur(27.5px);

	font-size: 2em;
}

#psychicvoyage #leftstat {
	display: none;
	position: absolute;
	width: 363px;
	height: 75px;
	left: 36px;
	top: 33px;

	background: #D9D9D9;
}

#psychicvoyage #rightstat {
	display: none;
	position: absolute;
	width: 363px;
	height: 75px;
	left: 625px;
	top: 33px;

	background: #D9D9D9;
}

#psychicvoyage #leftHUD {
	display: none;
	position: absolute;
	width: 258px;
	height: 372px;
	left: 88px;
	top: 157px;

	background: #D9D9D9;
}

#psychicvoyage #rightHUD {
	display: none;
	position: absolute;
	width: 258px;
	height: 372px;
	left: 678px;
	top: 157px;

	background: #D9D9D9;
}