#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	background-color: #ccc;
	font-family: Andale Mono, monospace;
}

#wrapper h2 {
	font-size: 16px;
	color: #990000;
}

#wrapper p {
	font-size: 12px;
}

#header {

}

#leftcol {
	width: 300px;
	float: left;
	margin-left: 1em;
	padding: 1em;
	background-color: #eee;
}

#rightcol {
	width: 600px;
	float: right;
	padding: 1em;
}

#charsheet {

}

#stimuli {

}

#commands {

}

#topcolwrap {
	margin-bottom: 10px;
}
 
#plr_log {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	margin-top: 12em;
	margin-bottom: 1em;
	background-color: #eee;
	font-size: 12px;
}

#footer {
	margin-top: 1em;
	font-size: 10px;
	clear: both;
}